<!-- Add id for accessibility purposes -->
<h2 [id]="context.id">{{context.heading}}</h2>
<section
    polymorpheus-outlet
    [content]="context.content"
    [context]="context"
></section>

<p>
  <tui-input class="b-form" tuiAutoFocus [(ngModel)]="text" [tuiTextfieldLabelOutside]="true"></tui-input>
</p>

<p class="buttons">
    <button tuiButton class="tui-space_right-3" (click)="onClick(text)">
        {{context.buttons[0]}}
    </button>
    <button tuiButton appearance="secondary" (click)="onClick(false)">
        {{context.buttons[1]}}
    </button>
</p>
