body {
  font-size: 16px;
  background-color: #f8f8f8;
}

.main-container {
  padding: 0 1rem;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@import 'shared/styles/reset';
@import 'app/shared/styles/theme-variables.css';
