.header {
  width: 100%;
  background: #fff;
  min-height: 80px;
  box-shadow: 0 0 0.75rem rgb(69 69 69 / 10%);
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
